*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* div {
    border: black solid;
}  */

body {
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    min-width: 1000px;
    justify-content: center;
}

.section {
    padding: 40px 120px;
    align-self: stretch;
    display: flex;
    justify-content: center;
    flex: 1;
}

/* Intro and header styling */
.intro {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-top: 5px;
    padding-bottom:60px;
    flex-wrap: wrap;
    gap: 20px;
}

.header {
    justify-content: space-between;
    flex: 1 0 100%;
    display: flex;
    margin-bottom: 40px;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.header-links ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 16px;
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
}

.intro {
    background-color: #1F2937;
    color: #F9FAF8;
}

.intro-title {
    font-size: 48px;
    font-weight: 900;
}

.intro-left {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.intro-text {
    font-size: 18px;
    color: #E5E7EB;
}

.intro-right {
    flex: 0 0 50%;
    background-color: #636262;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.intro button {
    background-color: #3882F6;
    color: white;
    padding: 5px 25px;
    border-radius: 10px;
    font-size: 12px;
    flex-shrink: 0;
    margin-top: 10px;

}

/* Card Table styling sectoin */
.card-table {
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.card-table-header {
    text-align: center;
    flex: 1 0 100%;
    font-size: 36px;
    font-weight: 900;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-image {
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid #3882F6;
}

.card-text {
    text-wrap: wrap;
    width: 110px;
    font-size: 12px;
    text-align: center;
}

/*quote styling */

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
}
.quote-text{
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}

.quote-author {
    align-self: flex-end;
    font-weight: 600;
}

.call-to-action {
    align-self: stretch;
    justify-content: center;
    align-items: center;
}

.cta {
    background-color: #3882F6;
    color: #F9FAF8;

}

.cta.content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 30px 90px;
    border-radius: 10px;
}

.cta.right{
    display: flex;
    align-items: center;
}

.cta button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 25px;
    border-radius: 10px;
    font-size: 12px;
    flex-shrink: 0;
    border-color: white;
    font-family: inherit;
    border: 2px solid;

}

.section.footer {
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px;
    font-size: 12px;
    height: 60px;
    flex: none;
}


