*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



div {
    border: black solid; /*just for positioning during build*/
} 

body {
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    padding: 0px 90px;
    align-self: stretch;
}

.header,
.footer {
    display: flex;
    align-items: center;
    align-self: stretch;
    height: 50px;
}

.header {
    justify-content: space-between;
}

.footer {
    justify-content: center;
}

ul {
    display: flex;
    list-style-type: none;
}

.section.intro,
.section.card-table,
.section.quote,
.section.call-to-action {
    display: flex;
    flex: 1;
}

.intro-right {
    flex: 0 0 50%;
}

.card-table {
    align-self: stretch;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    gap: 30px;
}

.card-table-header {
    text-align: center;
    height: 50px;
}

.card-top {
    height: 150px;
    width: 150px;
}

.card-bottom {
    text-wrap: wrap;
    width: 150px;
    font-size: 18px;
}
.section.quote{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote .text{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.call-to-action {
    align-self: stretch;
    justify-content: center;
    align-items: center;
}

.cta-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}









